.logo{
  height: 26.10000228881836px;
  width: 97.64409637451172px;
  background-image: url(/src/images/header-images/Logo.svg);
}

.logo_colored {
  height: 38px;
  width: 140.9558868408203px;
  background-image: url(/src/images/header-images/MoGo.svg);
  background-repeat: no-repeat;
}