.navigation {
  display: flex;
  width: 670px;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: map-get($colors, white);

  @include tablet {
    width: 554px;
    font-size: rem(13px);
    line-height: rem(15px);
  }
  @include mobile {
    flex-direction: column;
  }

  &__item {
    display: inline-block;
    padding-bottom: 10px;
    text-decoration: none;
    color: #ffffff;

    &:hover {
      text-decoration: underline;
      color: #edd789e6;
    }

    &:active{
      color: map-get($colors, DarkGreen);
    }
  }

  &__item_img {
    width: 24px;
    height: 24px;
    object-position: center;
    object-fit: cover;

    &:hover {
      border-radius: 50%;
      background: linear-gradient(
        360deg,
        #edd789e6 0%,
        rgba(233, 130, 131, 0.9) 100%
      );
    }
  }
}
