.about{
    text-align: center;
    padding: 42px 0 108px;
    
    &__container{
       
    }

    &__gallery{
      display: flex;
      gap: 20px;
      justify-content: space-between;

      @include mobile{
        flex-direction: column;
        align-items: center;
        
      }
    }  

    &__case{
      width: 370px;
      height: 338px;

      @include mobile{
        width: 288px;
        height: 258px;
      }

    } 
          
}

